* text=auto
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.po text eol=lf
.editorconfig text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf
*.mo binary
*.zip binary
*.png binary
*.jpg binary
*.gif binary
